{
    "CN": "{{ item.cn }}",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "L": "BeiJing",
            "ST": "BeiJing",
{% if item.group is defined %}
            "O": "{{ item.group }}",
{% endif %}
            "OU": "System"
        }
    ]
}