{
  "CN": "{{ hostvars[item]['ansible_hostname'] }}@{{ item }}",
  "hosts": [
    "127.0.0.1",
    "{{ item }}",
    "{{ hostvars[item]['ansible_hostname'] }}"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "L": "BeiJing",
      "ST": "BeiJing",
      "OU": "System"
    }
  ]
}
