apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/pki/ca.pem
    server: https://{{ inventory_hostname }}:{{ APISERVER_SECURE_PORT }}
  name: {{ CLUSTER_NAME }}
contexts:
- context:
    cluster: {{ CLUSTER_NAME }}
    user: system:kube-scheduler
  name: system:kube-scheduler@{{ CLUSTER_NAME }}
current-context: system:kube-scheduler@{{ CLUSTER_NAME }}
kind: Config
preferences: {}
users:
- name: system:kube-scheduler
  user:
    client-certificate: /etc/kubernetes/pki/kube-scheduler.pem
    client-key: /etc/kubernetes/pki/kube-scheduler-key.pem